
/*
CSS de la letras de titulo animadas solamente solo se usa en login y sigup
*/

#app_name_efect{
    position: relative;
    top: 20vh;
    font-size: 25px;
    font-family: "Source Sans Pro Light",sans-serif;
    letter-spacing: 20px;
    display: flex;
}



.opacity{
    opacity: 0;
}
#D{
    animation-name: D;
    animation-delay: 2s;
    animation-duration: 2s;

}

#I{
    animation-name: I;
    animation-delay: 4s;
    animation-duration: 2s;
}
#E{
    animation-name: E;
    animation-delay: 1s;
    animation-duration: 2s;

}
#T{
    animation-name: T;
    animation-delay: 5s;
    animation-duration: 2s;

}
#X{
    animation-name: X;
    animation-delay: 3s;
    animation-duration: 2s;

}



@keyframes D{
from{
    opacity: 0;
}to{
    opacity: 1;
 }
}

@keyframes I{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}
@keyframes E{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}
@keyframes T{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}
@keyframes X{
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}