h1{
    margin-bottom: 50px;
    font-size: 35px;
    font-family: "Source Sans Pro Bold",sans-serif;
}

.button_style_1{
    width: 90%;
    margin: auto;
}

.button_style_3{
    height: 30px;
    margin: 20px 0 0 20px;
}

.button_style_3 .material-icons{
    margin: auto;
}

